[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
psycopg2-binary = "*"
pyOpenSSL = "*"
Flask-Mail = "*"
Flask = "*"
Flask-Session = "*"
SQLAlchemy = "*"

[dev-packages]

[requires]
python_version = "3.7"
