{% extends 'base.html' %}

{% block title %} Información enviada{% endblock title %}

{% block body %}
<div class="content">
    <div class="container login">
        <div class="row">
            <div class="col-5"></div>
            <div class="col-12 col-md-6">
                <div class="card shadow">
                    <div class="card-body">
                        <h4 class="card-title">Revisa tu correo</h4>
                        <p class="card-text">Le enviamos instrucciones por correo electrónico para configurar su contraseña.
                            ¡Debería recibir el correo electrónico en breve!
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-3"></div>
        </div>
    </div>
</div>
{% endblock body %}