{% extends 'base.html' %}

{% block title %} Recuperar contraseña {% endblock title %}

{% block body %}
    <div class="content">
        <div class="container login">
            <div class="row">
                <div class="col-5"></div>
                <div class="col-12 col-md-6">
                    <div class="card shadow">
                        <div class="card-body">
                            <h4 class="card-title">¿Olvidaste tu contraseña?</h4>
                            <p class="card-text">Ingresa tu correo eléctronico y nosotros te enviaremos instrucciones para
                                conseguir una nueva contraseña
                            </p>
        
                            <form action="{{url_for('recoverPassword')}}" method="POST" class="needs-validation" novalidate>
                                <div class="mb-3">
                                    <label class="form-label" for="id_email">Correo electrónico</label>
                                    <input type="email" class="form-control" name="email" id="id_email" maxlength="254" autocomplete="email" placeholder="Correo electrónico" required>
                                </div>
        
                                <input type="submit" value="¡Enviame las instrucciones!" class="btn btn-primary"/>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-3"></div>
            </div>
        </div>
    </div>
{% endblock body %}