{% extends 'base.html' %}

{% block title %} Registrar Negocio {% endblock title %}

{% block body %}
    <div class="container">
        <section>
            <div class="row g-0">
                <!--- Columna para el formulario de Registros de Negocios -->
                <div class="col-lg-6">
                    <!-- Formulario de registro negocios -->
                    <div class="card bg-body shadow rounded">
                        <h4 class="text-center mt-2">Registra tu negocio y empieza a vender</h4>

                        <hr>
                        
                        <div class="card-body">

                            <form accion="{{ url_for("register_business", _anchor='liveToastBtn') }}" method="POST" class="row g-3 needs-validation" novalidate>
                                <div class="col-12">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="administrador" value="1" id="invalidCheck" required>
                                        <label class="form-check-label" for="invalidCheck">
                                            Acepta los términos y condiciones
                                        </label>
                                        <div class="invalid-feedback">Debes estar de acuerdo antes de enviar.</div>
                                    </div>
                                </div>

                                <div class="border-top"></div>
                                
                                <div class="col-md-6">
                                    <label for="business_name" class="form-label">Nombre del negocio</label>
                                    <input type="text" name="business_name" class="form-control" id="business_name" placeholder="Nombre" required>
                                </div>
                                
                                <div class="col-lg-6">
                                    <label for="phone" class="form-label">Teléfono del negocio</label>
                                    <input type="number" class="form-control" min="8" id="phone" name="phone" autocomplete="off"  placeholder="Teléfono" required>
                                </div>

                                <div class="col-lg-12 form-group my-1">
                                    <label for="direccion">Dirección</label>
                                    <input type="text" class="form-control" id="direccion" name="direccion" placeholder="Dirección KM 21" required>
                                </div>
                                
                                <div class="col-md-6">
                                    <label for="categoria" class="form-label">Seleccione una categoria</label>
                                    <select name="categorias" class="form-select" id="categoria" required>
                                        <option selected value="1">Comidería</option>
                                        <option value="2">Farmacia</option>
                                        <option value="3">Artículos</option>
                                    </select>
                                    <div class="invalid-feedback">
                                        Seleccione una cateroía.
                                    </div>
                                </div>
                                
                                <div class="col-md-6 d-grid gap">
                                    <label for="categoria" class="form-label">Seleccionar foto del negocio</label>
                                    <!-- Button trigger modal -->
                                    <button type="button" class="btn btn-success btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                        Subir foto
                                    </button>
                                    <input type="hidden" class="form-control" id="imagen" name="imagen">
                                </div>

                                <div class="col-md-6">
                                    <label class="form-label">Horario de atención</label>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label for="appt" class="form-label">Hora de inicio</label>
                                            <input type="time" class="form-control" name="ampmStart" min="06:00" max="22:00" required>
                                        </div>
                                        <div class="col-md-6">
                                            <label for="appt" class="form-label">Hora de cierre</label>
                                            <input type="time" class="form-control" name="ampmEnd" min="06:00" max="22:00" required>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <textarea class="form-control" name="descripcion" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
                                        <label for="floatingTextarea2">Descripción del negocio</label>
                                    </div>
                                </div>

                                <div class="col-md-12 d-grid gap-2">
                                    <button class="btn btn-primary" id="liveToastBtn" type="submit">Registrar negocio</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <!--- Columna para imagen -->
                <div class="col-lg-6">
                    <img src="{{ 'https://i.ibb.co/kSCpz26/illustration-register.png' }}" class="img-fluid" alt="illustration-register">
                </div>
            </div>
        </section>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Cargar foto de su negocio</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <div class="card card-responsiva">
                        <div class="card-footer">
                            <label class="form-label"> Seleciona una foto</label>
                            <input class="form-control" id="img-uploader" type="file">
                        </div>

                        <img id="img-preview" class="img-thumbnail rounded">
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cargar</button>
                </div>
            </div>
        </div>
    </div>

{% endblock body %}