{% extends 'base.html' %}

{% block title %} Nueva contraseña{% endblock title %}

{% block body %}
    <div class="content">
        <div class="container login">
            <div class="row">
                <div class="col-5"></div>
                <div class="col-12 col-md-7">
                    <div class="card shadow">
                        <div class="card-body">
                            <h4 class="card-title">Restablecer contraseña</h4>
                            <p class="card-text">Ingrese su nueva contraseña, le recomendamos que use una contraseña
                                que recuerde facilmente y que no sea la misma que la anterior.</p> 
                            </p>
        
                            <form action="{{url_for('updatePassword')}}" method="POST" class="needs-validation" novalidate>
                                <div class="mb-2">
                                    <label for="username">Nombre de usuario</label>
                                    <input type="text" class="form-control" id="username" name="username" placeholder="Nombre de usuario" required>
                                </div>
                                
                                <div class="mb-2">
                                    <label for="email">Correo electrónico</label>
                                    <input type="email" class="form-control" id="email" name="email" placeholder="Correo electrónico" required>
                                </div>

                                <div class="mb-2">
                                    <label for="password">Nueva contraseña</label>
                                    <input type="password" class="form-control" id="password" name="password" autocomplete="off" placeholder="Nueva contraseña" required>
                                </div>

                                <div class="mb-2">
                                    <label for="confirmation">Repetir nueva contraseña</label>
                                    <input type="password" class="form-control" id="confirmation" name="confirmation" autocomplete="off" placeholder="Repetir Nueva contraseña" required>
                                </div>

                                <input type="submit" value="Actualizar contraseña" class="btn btn-primary"/>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-3"></div>
            </div>
        </div>
    </div>
{% endblock body %}